.ant-list-item-meta-title {
    & {
        font-size: 26px;
        line-height: initial;
    }
    & > a {
        color:#fff
    }
} 

.ant-list-item-meta-description {
    color:#fff
}

.price-now {
    display: inline;
    color: #fff;
    font-size: 50px;
    vertical-align: middle;
}

.donate-now {
    display: inline;
    color: #fff;
    font-size: 50px;
    vertical-align: middle;
    padding:0 20px;

    & > a {
        color: #D32F2F;
    }

    & > a:hover {
        color: #fff;
    }
}

